.infoBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #edb451;
  border-radius: 4px 4px 0 0;
  height: 60px;
  width: 100%;
}

.leftInnerContainer {

  display: flex;
  align-items: center;

  margin-left: 5%;
  color: white;
}

.leftInnerContainer h3 {
  font-size: 1.2em;
  min-height: 70px;
  max-height: 70px;
  line-height: 70px;
  margin: 0;
}

.rightInnerContainer {
  display: flex;
  flex: 0.5;
  justify-content: flex-end;
  margin-right: 5%;
}

.onlineIcon {
  margin-right: 5%;
}